<div class="panel with-nav-tabs panel-info">
  <div class="panel-heading">
    <ul class="nav nav-tabs">
      <li class=<%= contact_active %>>
        <a href="#contact-tab" data-toggle="tab"><i class="fa fa-book"></i>通讯录</a>
      </li>
      <li class=<%= chat_active %>>
        <a href="#chat-tab" data-toggle="tab"><i class="fa fa-weixin"></i>聊天</a>
      </li>
      <li>
        <a href="#newfriends-tab" data-toggle="tab"><i class="fa fa-envelope"></i>新朋友</a>
      </li>
      <li>
        <a href="#apply-tab" data-toggle="tab"><i class="fa fa-plus"></i>申请</a>
      </li>
    </ul>
  </div>
  <div class="panel-body" id="tab-panel-body">
    <div class="tab-content">
      <div class="tab-pane fade in <%= contact_active %>" id="contact-tab">
        <ul class="list-group">
          <% @friends.each do |user| %>
              <li class="list-group-item" style="padding: 0px; margin-bottom: 0px;">

                <button class="btn btn-default btn-block" data-toggle="collapse" data-target="#user-<%= user.id %>" id="tab-contact-default">
                  <%= image_tag "user-icon.png", class: "img-sm" %>
                  <div class="text-muted">
                    <%= user.name %>
                  </div>
                </button>

                <div id="user-<%= user.id %>" class="collapse">
                  <%= form_for Chat.new, url: chats_path, method: :post do |f| %>
                      <%= hidden_field_tag :users, [user.id] %>
                      <%= button_tag(:class => "btn btn-success btn-block", style: "border-radius: 0;") do %>
                          <i class="fa fa-angle-right"></i> 发起聊天
                      <% end %>
                  <% end %>
                  <%= link_to user_path(user), class: 'btn btn-info btn-block', role: "button", style: "border-radius: 0" do %>
                      <i class="fa fa-angle-right"></i> 用户详情
                  <% end %>
                  <%= link_to friendship_path(user), method: :delete, class: 'btn btn-danger btn-block', role: "button", style: "border-radius: 0;margin:0px;" do %>
                      <i class="fa fa-angle-right"></i> 删除用户
                  <% end %>
                </div>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane fade in <%= chat_active %>" id="chat-tab">
        <ul class="list-group">
          <% index=0 %>
          <% priority = 0 %>
          <% @chats_users.each do |chat_user| %>
            <% if priority!=chat_user.priority %>
              <% priority=chat_user.priority %>
              <% if index!= 0 %>
                <hr></hr>
              <% end %>
              <% index=index+1 %>
            <% end %>
            <% chatroom=chat_user.chat %>
              <%= link_to chat_path(chatroom), class: 'list-group-item' do %>
                <% if priority==2 %>
                  <i class="fa fa-smile-o fa-5"></i> <%= truncate(chatroom.name, length: 10) %>
                <% elsif priority==1 %>
                  <i class="fa fa-wechat fa-5"></i> <%= truncate(chatroom.name, length: 10) %>
                <% else %>
                  <i class="fa fa-frown-o fa-5"></i> <%= truncate(chatroom.name, length: 10) %>
                <% end %>
                <text id="chatroom-<%= chatroom.id %>"></text>
                <% if priority!=0 %>
                  <%= sync partial: 'message_read_row', resource: chatroom, refetch: true %>
                <% end %>
              <% end %>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane fade in" id="newfriends-tab">
        <ul class="list-group">
          <% @new_friends.each do |user| %>
            <li class="list-group-item" style="padding: 0px; margin-bottom: 0px;">

              <button class="btn btn-default btn-block" data-toggle="collapse" data-target="#user-<%= user.id %>" id="tab-contact-default">
                <%= image_tag "user-icon.png", class: "img-sm" %>
                <div class="text-muted">
                  <%= user.name %>
                </div>
              </button>

              <div id="user-<%= user.id %>" class="collapse">
                <%= link_to friendship_path(user), method: :post, class: 'btn btn-info btn-block', role: "button", style: "border-radius: 0" do %>
                    <i class="fa fa-angle-right"></i> 同意
                <% end %>
                <%= link_to friendship_path(user), method: :delete, class: 'btn btn-danger btn-block', role: "button", style: "border-radius: 0;margin:0px;" do %>
                    <i class="fa fa-angle-right"></i> 拒绝
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane fade in" id="apply-tab">
        <ul class="list-group">
        <% @applications.each do |user| %>
          <li class="list-group-item" style="padding: 0px; margin-bottom: 0px;">

            <button class="btn btn-default btn-block" data-toggle="collapse" data-target="#user-<%= user.id %>" id="tab-contact-default">
              <%= image_tag "user-icon.png", class: "img-sm" %>
              <div class="text-muted">
                <%= user.name %>
              </div>
            </button>

            <div id="user-<%= user.id %>" class="collapse">
              <%= link_to friendship_path(user), method: :delete, class: 'btn btn-danger btn-block', role: "button", style: "border-radius: 0;margin:0px;" do %>
                  <i class="fa fa-angle-right"></i> 撤回
              <% end %>
            </div>
          </li>
        <% end %>
        </ul>
      </div>

    </div>
  </div>

  <div class="panel-footer">
    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal">添加朋友
    </button>
  </div>
</div>

<%= render "search_fridends" %>
